.bg-bug {
    background-color: #708909 !important;
}

.light-bg-bug {
    background-color: #89a41b !important;
}

.verylight-bg-bug {
    background-color: #d0e481 !important;
}

.ultralight-bg-bug {
    background-color: #e9f6b6 !important;
}

.bg-dark {
    background-color: #333333 !important;
}

.light-bg-dark {
    background-color: #4f4d4d !important;
}

.verylight-bg-dark {
    background-color: #adacac !important;
}

.ultralight-bg-dark {
    background-color: #dbdbdb !important;
}

.bg-dragon {
    background-color: #656597 !important;
}

.light-bg-dragon {
    background-color: #7a7aa8 !important;
}

.verylight-bg-dragon {
    background-color: #dedef7 !important;
}

.ultralight-bg-dragon {
    background-color: #f2f2ff !important;
}

.bg-electric {
    background-color: #d3c300 !important;
    color: black;
}

.light-bg-electric {
    background-color: #ffefae !important;
}

.verylight-bg-electric {
    background-color: #efe999 !important;
}

.ultralight-bg-electric {
    background-color: #fffbc7 !important;
}

.bg-fairy {
    background-color: #f188db !important;
}

.light-bg-fairy {
    background-color: #fb9ce7 !important;
}

.verylight-bg-fairy {
    background-color: #ffdaf6 !important;
}

.ultralight-bg-fairy {
    background-color: #fff7fd !important;
}

.bg-fighting {
    background-color: #500b0b !important;
}

.light-bg-fighting {
    background-color: #6e1a1a !important;
}

.verylight-bg-fighting {
    background-color: #ca8d8d !important;
}

.ultralight-bg-fighting {
    background-color: #efc4c4 !important;
}

.bg-fire {
    background-color: #A02C2C !important;
}

.light-bg-fire {
    background-color: #af4a4a !important;
}

.verylight-bg-fire {
    background-color: #d07b7b !important;
}

.ultralight-bg-fire {
    background-color: #fccfcf !important;
}

.bg-flying {
    background-color: #5aa7e2 !important;
}

.light-bg-flying {
    background-color: #82bde9 !important;
}

.verylight-bg-flying {
    background-color: #c7e7ff !important;
}

.ultralight-bg-flying {
    background-color: #e8f5ff !important;
}

.bg-grass {
    background-color: #4da820 !important;
}

.light-bg-grass {
    background-color: #66bf3a !important;
}

.verylight-bg-grass {
    background-color: #c3eaaf !important;
}

.ultralight-bg-grass {
    background-color: #f1ffe8 !important;
}

.bg-ghost {
    background-color: #3E3748 !important;
}

.light-bg-ghost {
    background-color: #312b3a !important;
}

.verylight-bg-ghost {
    background-color: #a89fb5 !important;
}

.ultralight-bg-ghost {
    background-color: #d4d0db !important;
}

.bg-ground {
    background-color: #c88d62 !important;
    color: black;
}

.light-bg-ground {
    background-color: #deaa85 !important;
}

.verylight-bg-ground {
    background-color: #f5cfb4 !important;
}

.ultralight-bg-ground {
    background-color: #F4E3D7 !important;
}

.bg-ice {
    background-color: #00b58e !important;
}

.light-bg-ice {
    background-color: #19cba5 !important;
}

.verylight-bg-ice {
    background-color: #90efdb !important;
}

.ultralight-bg-ice {
    background-color: #dafef7 !important;
}

.bg-normal {
    background-color: #ab9c9c !important;
    color: black;
}

.light-bg-normal {
    background-color: #bfb0b0 !important;
}

.verylight-bg-normal {
    background-color: #e0d7d7 !important;
}

.ultralight-bg-normal {
    background-color: #fefafa !important;
}

.bg-poison {
    background-color: #830180 !important;
}

.light-bg-poison {
    background-color: #9b1398 !important;
}

.verylight-bg-poison {
    background-color: #e3aee1 !important;
}

.ultralight-bg-poison {
    background-color: #fbeaff !important;
}

.bg-psychic {
    background-color: #C837AB !important;
}

.light-bg-psychic {
    background-color: #e25fc8 !important;
}

.verylight-bg-psychic {
    background-color: #fda0ea !important;
}

.ultralight-bg-psychic {
    background-color: #ffd9f7 !important;
}

.bg-rock {
    background-color: #49260f !important;
}

.light-bg-rock {
    background-color: #58341c !important;
}

.verylight-bg-rock {
    background-color: #c59b80 !important;
}

.ultralight-bg-rock {
    background-color: #f7dac7 !important;
}

.bg-shadow {
    background-color: #5f5f5f !important;
}

.light-bg-shadow {
    background-color: #686868 !important;
}

.verylight-bg-shadow {
    background-color: #8a8a8a !important;
}

.ultralight-bg-shadow {
    background-color: #cdcdcd !important;
}

.bg-steel {
    background-color: #999999 !important;
}

.light-bg-steel {
    background-color: #b7b7b7 !important;
}

.verylight-bg-steel {
    background-color: #d1d1d1 !important;
}

.ultralight-bg-steel {
    background-color: #f6f6f6 !important;
}

.bg-unknown {
    background-color: #000000 !important;
}

.light-bg-unknown {
    background-color: #2f2f2f !important;
}

.verylight-bg-unknown {
    background-color: #5c5c5c !important;
}

.ultralight-bg-unknown {
    background-color: #868686 !important;
}

.bg-water {
    background-color: #0051cb !important;
}

.light-bg-water {
    background-color: #2467cb !important;
}

.verylight-bg-water {
    background-color: #4589ef !important;
}

.ultralight-bg-water {
    background-color: #a5c9ff !important;
}